MANIFEST
dist/*
*.tar.gz
*~
*.bak
TAGS
.#*
*#
~*xlsx
*.pyc
.project
.pydevproject
.coverage
cover/
.settings/
xlsxwriter/test/comparison/_test_*.xlsx
dev/docs/build/
dev/performance/*.xlsx
examples/*.xlsx
.DS_Store
build/
.buildinfo
objects.inv
__pycache__
.tox/
.idea
.cache/
XlsxWriter.egg-info/

